treechildren::-moz-tree-image(modules_forums_websitefolder){
	list-style-image: url(/changeicons/small/website-folder.png);
}
treechildren::-moz-tree-image(modules_forums_forum){
	list-style-image: url(/changeicons/small/forum.png);
}
treechildren::-moz-tree-image(modules_forums_thread){
	list-style-image: url(/changeicons/small/thread.png);
}
treechildren::-moz-tree-image(modules_forums_post){
	list-style-image: url(/changeicons/small/post.png);
}
treechildren::-moz-tree-image(modules_forums_member){
	list-style-image: url(/changeicons/small/member.png);
}
treechildren::-moz-tree-image(modules_forums_rank){
	list-style-image: url(/changeicons/small/member-rank.png);
}
treechildren::-moz-tree-image(modules_forums_title){
	list-style-image: url(/changeicons/small/member-title.png);
}
treechildren::-moz-tree-image(modules_forums_preferences){
	list-style-image: url(/changeicons/small/forum.png);
}
treechildren::-moz-tree-image(modules_forums_ban){
	list-style-image: url(/changeicons/small/document.png);
}
treechildren::-moz-tree-image(modules_forums_forumgroup){
	list-style-image: url(/changeicons/small/folders-stack.png);
}