#wmodule_forums cfield[fieldtype="titlelist"]{
	-moz-binding: url(binding:modules.forums.cForumsEditor#cTitleList);
}
#wmodule_forums cfield[fieldtype="ranklist"]{
	-moz-binding: url(binding:modules.forums.cForumsEditor#cRankList);
}
#edt_forums_member cpublicationsection{
	-moz-binding: url(binding:modules.forums.cForumsEditor#cPublicationSection);
}
wdialog[template="forums_ConfirmDeletion"]{
	-moz-binding: url(binding:modules.forums.cForumsEditor#cConfirmDeletionDialog);
}