#wmodule_forums cfield[fieldtype="titlelist"]{
	-moz-binding: url(binding:modules.forums.cForumsEditor#cTitleList);
}
#wmodule_forums cfield[fieldtype="ranklist"]{
	-moz-binding: url(binding:modules.forums.cForumsEditor#cRankList);
}
profile[name="forums"]{
	-moz-binding: url(binding:modules.forums.cProfile#cForumsProfile);
}