.modules-forums table.normal th {
	white-space: nowrap;
}
.modules-forums table.normal td,
.modules-forums table.normal .column-bullet img,
.modules-forums table.normal .column-avatar img {
	vertical-align: middle;
}
.modules-forums table.normal .column-bullet {
	min-width: 30px;
	text-align: center;
}
.modules-forums table.normal .column-avatar {
	min-width: 40px;
	text-align: center;
}
.modules-forums table.normal .column-label {
	width: 100%;
}
.modules-forums table.normal .column-posts,
.modules-forums table.normal .column-threads {
	white-space: nowrap;
	min-width: 75px;
	text-align: center;
}
.modules-forums table.normal .column-last-post {
	white-space: nowrap;
	min-width: 150px;
	text-align: center;
}
.modules-forums table.normal .column-date,
.modules-forums table.normal .column-country {
	white-space: nowrap;
	min-width: 100px;
	text-align: center;
}

.message-list .message-body {
	padding: 12px 0;
}
.message-list .author-information {
	width: 180px;
	float: left;
}
.message-list .message-content {
	padding-left: 12px;
	margin-left: 180px;
}