.forums-table th
{
	white-space: nowrap;
}
.forums-table td,
.forums-table .column-bullet img
{
	vertical-align: middle;
}
.forums-table .column-bullet
{
	min-width: 30px;
	text-align: center;
}

.forums-table .column-label
{
	width: 100%;
}
.forums-table .column-posts,
.forums-table .column-threads
{
	white-space: nowrap;
	min-width: 75px;
	text-align: center;
}
.forums-table .column-last-post
{
	white-space: nowrap;
	min-width: 150px;
	text-align: center;
}
.forums-table .column-date
{
	white-space: nowrap;
	min-width: 100px;
	text-align: center;
}

.users-list .column-posts,
.users-list .column-threads
{
	white-space: nowrap;
	min-width: 75px;
	text-align: center;
}

.message-list .message-body{
	padding: 12px 0;
}
.message-list .author-information{
	width: 180px;
	float: left;
}
.message-list .message-content{
	padding-left: 12px;
	margin-left: 180px;
}