<tal:block tal:condition="member">
	<h2 change:h="" change:translate="modules.forums.frontoffice.You-not-have-access" />
	<tal:block tal:condition="member/isBanned">
		<p><tal:block change:translate="modules.forums.frontoffice.Logged-as-and-banedLabel;name member/getLabelAsHtml" /> <tal:block change:memberdate="value member/getBan; mode 'long'" /></p>
	</tal:block>
	<p change:translate="modules.forums.frontoffice.Logged-as;name member/getLabelAsHtml" />
</tal:block>
<tal:block tal:condition="not: member">
	<h2 change:h="" change:translate="modules.forums.frontoffice.Restricted-access-must-login" />
	<tal:block change:block="" module="users" name="Authentication" />
</tal:block>