<tal:block change:loadhandler="forums_NewthreadLoadHandler" />
<h1 change:h="">${trans:m.forums.frontoffice.newthread,ucf}</h1>

<tal:block tal:condition="previewPostInfo">
	<tal:block change:include="module 'forums'; template 'Forums-Inc-PostList-Success'; type 'html'; postListInfo previewPostInfo" />
</tal:block>

<form change:form="beanClass forums_persistentdocument_thread; beanName thread">
	<fieldset>
		<legend class="h-2">${trans:m.forums.frontoffice.message-input,ucf}</legend>
		<ul change:errors=""></ul>
		<ol tal:define="flagList forum/getDefaultFlagList">
			<li change:permission="perm forums.Moderate; nodeId forum/getId; mode front"><input change:field="name level" nopreamble="true" /></li>
			<li tal:condition="flagList"><input change:selectinput="" listId="${flagList/getListid}" name="flag" labeled="true"/></li>
			<li><input change:field="name label" /></li>
			<li><input change:bbcodeinput="name firstPost.textAsBBCode; required true" labeled="true" /></li>
		</ol>
		<p class="buttons">
			<input change:field="name beanId" hidden="true" />
			<input change:field="name forum" hidden="true" value="${forum/getId}" />
			<input name="preview" change:submit="labeli18n m.forums.frontoffice.form.preview" />
			<input change:submit="labeli18n m.forums.frontoffice.form.submit"/>
		</p>
	</fieldset>
</form>