<form change:form="beanClass forums_persistentdocument_member; beanName member">
	<fieldset>
		<legend class="h-1">${trans:m.forums.frontoffice.modifyprofile,ucf}</legend>
		<ul change:errors=""></ul>
		<fieldset>
			<legend class="h-2">${trans:m.forums.frontoffice.member-informations,ucf}</legend>
			<ol>
				<li><label class="label">${trans:m.forums.document.member.label,ucf,lab}</label> ${member/getLabelAsHtml}</li>
				<li><input change:field="name user.titleid" /></li>
				<li><input change:field="name user.firstname" /></li>
				<li><input change:field="name user.lastname" /></li>
				<li>
					<input change:field="name displayname" />
					<p class="help-text">${trans:m.forums.frontoffice.authdisplayname-other,ucf}</p>
				</li>
				<li><input change:field="name country" /></li>
				<li><input change:field="name websiteUrl" autocorrect="off" autocapitalize="off" /></li>
				<li><input change:bbcodeinput="name signatureAsBBCode" module-profile="forums" labeled="true" /></li>
			</ol>
		</fieldset>
		<fieldset>
			<legend class="h-2">${trans:m.forums.frontoffice.authentication-confirmation,ucf}</legend>
			<ol>
				<li>
					<input change:passwordinput="required true" name="checkpassword" labeli18n="m.forums.document.member.password" />
					<p class="help-text">${trans:m.forums.frontoffice.needtovalid,ucf}</p>
				</li>
			</ol>
		</fieldset>
		<p class="buttons">
			<input change:field="name beanId" hidden="true" />
			<input change:submit="labeli18n m.forums.frontoffice.submit" />
			<a change:link="document member" class="button">${trans:m.forums.frontoffice.cancelbacktoitsprofile,ucf}</a>
		</p>
	</fieldset>
</form>