<table class="normal" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<th class="column-bullet" />
			<th class="column-label" change:translate="modules.forums.frontoffice.Forum" />
			<th class="column-threads" change:translate="modules.forums.frontoffice.Threads" />
			<th class="column-posts" change:translate="modules.forums.frontoffice.Posts" />
			<th class="column-last-post" change:translate="modules.forums.frontoffice.Last-post" />
		</tr>
	</thead>
	<tbody>
		<tr tal:repeat="forum forums" class="row-${php: repeat.forum.odd ? '1' : '0'}">
			<td class="column-bullet" tal:define="newCount forum/getNbnewpost">
				<img tal:condition="php: newCount == 1" change:image="front/has-new-post.png" change:i18nattr="title &modules.forums.frontoffice.Has-new-post;" />
				<img tal:condition="php: newCount > 1" change:image="front/has-new-post.png" change:i18nattr="title[count] newCount; title &modules.forums.frontoffice.Has-n-new-posts;" />
				<img tal:condition="not: newCount" change:image="front/has-no-new-post.png" change:i18nattr="title &modules.forums.frontoffice.Has-no-new-post;" />
			</td>
			<td class="column-label"><a change:link="document forum">${forum/getLabelAsHtml}</a></td>
			<td class="column-threads" tal:content="forum/getNbthread" />
			<td class="column-posts" tal:content="forum/getNbpost" />
			<td class="column-last-post" tal:define="lastPost forum/getLastPost; lastPostAuthor lastPost/getPostAuthor">
				<tal:block tal:condition="lastPost">
					<tal:block change:memberdate="value lastPost/getCreationdate; mode 'long'" />
					<br />
					<tal:block change:translate="modules.forums.frontoffice.by" /> <a change:link="document lastPostAuthor">${lastPostAuthor/getLabelAsHtml}</a>
				</tal:block>
			</td>
		</tr>
	</tbody>
</table>

<ul class="inline-menu">
	<li tal:condition="not: member"><a change:link="tag contextual_website_website_modules_users_register" change:translate="modules.forums.frontoffice.Register"></a></li>
	<li tal:condition="not: member"><a change:link="tag contextual_website_website_modules_users_register" change:translate="modules.forums.frontoffice.Log-in"></a></li>
	<li tal:condition="member"><a change:link="tag contextual_website_website_modules_users_edit-profil" change:translate="modules.forums.frontoffice.Edit-profile"></a></li>
	<li tal:condition="member"><a change:actionlink="document page; markAllPostsRead 'true'" class="link" change:translate="modules.forums.frontoffice.Mark-all-as-read"></a></li>
</ul>