<form change:form="beanClass forums_persistentdocument_forumsprofile; beanName profile">
	<fieldset>
		<legend>${title}</legend>
		<ul change:errors=""></ul>
		<ul change:messages=""></ul>
		<input change:field="name beanId" hidden="true" />	
		<ol>
			<li><input change:bbcodeinput="name signatureAsBBCode" module-profile="forums" labeled="true" /></li>
		</ol>
		<p class="buttons">
			<input change:submit="labeli18n m.users.frontoffice.editprofil.submitbutton" class="button" name="save" />
		</p>
	</fieldset>
</form>