<h1 change:h="">${trans:m.forums.frontoffice.member-list,ucf}</h1>
<table class="normal">
	<thead>
		<tr>
			<th class="column-avatar" />
			<th class="column-label">${trans:m.forums.frontoffice.member-name,ucf}</th>
			<th class="column-date">${trans:m.forums.frontoffice.member-since,ucf}</th>
			<th class="column-threads">${trans:m.forums.frontoffice.threads,ucf}</th>
			<th class="column-posts">${trans:m.forums.frontoffice.posts,ucf}</th>
			<th class="column-country">${trans:m.forums.frontoffice.country,ucf}</th>
		</tr>
	</thead>
	<tbody>
		<tr tal:repeat="member paginator" class="row-${php: repeat.member.odd ? '1' : '0'}">
			<td class="column-avatar"><img class="image" src="${php: member->getGravatarUrl(32)}" alt="" /></td>
			<td class="column-label">
				<a change:link="document member">${member/getLabelAsHtml}</a>
				<dl tal:define="count member/getPublishedTitleCount" tal:condition="count" class="inline-list">
					<dt>
						<tal:block tal:condition="php: count == 1">${trans:m.forums.frontoffice.member-title,ucf}</tal:block>
						<tal:block tal:condition="php: count > 1">${trans:m.forums.frontoffice.member-titles,ucf}</tal:block>
					</dt>
					<dd tal:repeat="title member/getPublishedTitleArray">
						<strong>${title/getLabelAsHtml}</strong>
						<span tal:condition="php: repeat.title.index LT (repeat.title.length - 2)" class="punctuation">, </span>
						<span tal:condition="php: repeat.title.index EQ (repeat.title.length - 2)" class="punctuation">${trans:m.forums.frontoffice.and}</span>
					</dd>
				</dl>			
			</td>
			<td class="column-date" change:memberdate="value member/getCreationdate; mode 'short'" />
			<td class="column-threads">${member/getNbthread}</td>
			<td class="column-posts">${member/getNbpost}</td>
			<td class="column-country">${member/getCountry/getLabelAsHtml}</td>
		</tr>
	</tbody>
</table>
<tal:block change:paginator="paginator" />