<tal:block tal:define="global displayConfig postListInfo/displayConfig" />

<ul class="message-list">
	<tal:block tal:repeat="post postListInfo/paginator">
		<li class="erased" tal:condition="post/wasDeleted" id="post-${post/getId}">
			<em>${trans: m.forums.frontoffice.deletedpost,ucf}</em>
		</li>
		
		<tal:block tal:condition="not: post/wasDeleted">
			<li class="${php: repeat.post.start ? 'start' : ''} ${php: repeat.post.end ? 'last' : ''} ${php: repeat.post.odd ? 'odd' : 'even'}${php: post->getDeleteddate() ? ' tbv' : ''}" id="post-${post/getId}">
				<div class="message-header">
					<p class="float-right" tal:condition="not: displayConfig/hidePostLink">
						<a change:link="document post">${post/getPostId}</a>
						<tal:block tal:condition="post/isAnswer">${trans: m.forums.frontoffice.answer-to} <a change:link="document post/getAnswerof">${post/getAnswerof/getPostId}</a> ${trans: m.forums.frontoffice.written-by} <a change:link="document post/getAnswerof/getPostauthor">${post/getAnswerOf/getAuthorNameAsHtml}</a></tal:block>
					</p>
					<p>
						<tal:block change:memberdate="value post/getCreationdate; mode 'long'" />
					</p>						
				</div>
				
				<div class="message-body">
					<div class="author-information">
						<tal:block tal:condition="displayConfig/showGravatars">
							<img src="${php: post->getPostauthor()->getGravatarUrl(displayConfig['avatarsSize'])}" class="image" alt="" />
							<br />
						</tal:block>
						<a change:link="document post/getPostauthor">${post/getAuthorNameAsHtml}</a>
						<tal:block tal:repeat="title post/getPostAuthor/getPublishedTitleArray">
							<br />
							<strong>${trans: m.forums.frontoffice.member-title,ucf,lab}</strong> ${title/getLabelAsHtml}
							<tal:block tal:define="visual title/getVisual" tal:condition="visual/isPublished">
								<br />
								<img change:media="document visual" />
							</tal:block>
						</tal:block>
						<tal:block tal:define="rank post/getPostAuthor/getRank" tal:condition="rank">
							<br />
							<strong>${trans: m.forums.frontoffice.member-rank,ucf,lab}</strong> ${rank/getLabelAsHtml}
							<tal:block tal:define="visual rank/getVisual" tal:condition="visual/isPublished">
								<br />
								<img change:media="document visual" />
							</tal:block>
						</tal:block>		
					</div>
			
					<div class="message-content">
						${post/getTextAsHtml}
						<p tal:condition="post/getEditeddate" class="action-log">
							<em>
								${trans: m.forums.frontoffice.editedby,ucf} <a change:link="document post/getEditedby">${post/getLastEdithorNameAsHtml}</a> <tal:block change:memberdate="value post/getEditeddate; mode 'long'" />
							</em>
						</p>
						<p tal:condition="post/getDeleteddate" class="action-log">
							<em>
								${trans: m.forums.frontoffice.deletedby,ucf} <a change:link="document post/getDeletedby">${post/getSuppressorNameAsHtml}</a> <tal:block change:memberdate="value post/getDeleteddate; mode 'long'" />
							</em>
						</p>
						<tal:block tal:condition="displayConfig/showSignatures">
							<tal:block tal:condition="post/getPostauthor/getSignature">
								<hr class="signature-separator" />
								<div class="member-signature">${post/getPostauthor/getSignatureAsHtml}</div>
							</tal:block>
						</tal:block>
					</div>
				</div>
		
				<div class="message-footer">
					<div class="ip-anchor">
						<tal:block tal:condition="php: displayConfig['showActions'] && displayConfig['currentMember'] && displayConfig['currentMember'].isSuperModerator() && post.getIp()"><a class="link" href="http://www.db.ripe.net/whois?searchtext=${post/getIp}" target="_blank">${post/getIp}</a><span> | </span></tal:block>
						<a class="link" href="#top">${trans: m.forums.frontoffice.top,ucf}</a>
					</div>
					<div class="options-list" tal:condition="php: displayConfig['showActions'] && (!post->getDeleteddate() || post->isBanable())">
						<tal:block tal:condition="not: post/getDeleteddate">
							<tal:block tal:condition="not: post/getThread/isLocked"><a change:link="tag functional_forums_post-new ; forumsParam[cmpref] post/getThread/getId ; forumsParam[postid] post/getId">${trans: m.forums.frontoffice.answer,ucf}</a></tal:block>
							<tal:block tal:condition="post/isEditable"><span tal:condition="not: post/getThread/isLocked" > | </span><a change:link="tag functional_forums_post-edit ; forumsParam[cmpref] post/getId">${trans: m.forums.frontoffice.edit,ucf}</a></tal:block>
							<tal:block tal:condition="post/isDeletable"><span> | </span><a change:link="module forums; action DeletePost; id post/getId" class="link postDelete">${trans: m.forums.frontoffice.delete,ucf}</a></tal:block>
						</tal:block>
						<tal:block tal:condition="post/isBanable"><span> | </span><a class="link" change:actionlink="cmpref post/getId" block="forums_memberban">${trans: m.forums.frontoffice.ban,ucf}</a></tal:block>
					</div>
				</div>
			</li>
		</tal:block>
	</tal:block>
</ul>

<tal:block tal:condition="displayConfig/showPagination" change:paginator="postListInfo/paginator" />