<ul class="mini-navigation" tal:condition="php: member.isMe() OR member.isEditable() OR enablePrivateMessaging">
	<li>
		<a tal:condition="member/isMe" change:link="tag contextual_website_website_modules_users_edit-profil">${trans:m.forums.frontoffice.edit,ucf}</a>
		<a tal:condition="php: !member.isMe() && member.isEditable()" change:link="tag contextual_website_website_modules_forums_editprofile ; forumsParam[cmpref] member/getId">${trans:m.forums.frontoffice.edit,ucf}</a>
	</li>
	<li tal:condition="enablePrivateMessaging"><a change:link="tag contextual_website_website_modules_privatemessaging_newthread; privatemessagingParam[receivers] member/getLabelAsHtml">${trans:m.privatemessaging.fo.start-new-private-conversation,ucf}</a></li>
</ul>

<h1 change:h="">${trans:m.forums.frontoffice.profile-of,ucf,login=member/getLabelAsHtml}</h1>

<tal:block tal:condition="member/isme">
	<div tal:condition="mailsended"><em class="notification">${trans:m.forums.frontoffice.mail-sent}</em></div>
	<tal:block tal:condition="member/getEndpublicationdate">
		<em class="notification">${trans:m.forums.frontoffice.must-validate-before,ucf} <tal:block change:memberdate="value member/getEndpublicationdate; mode 'short'" /> - <a tal:define="url php: array('changeParam[resend]'=>1)" change:currentpagelink="url">${trans:m.forums.frontoffice.resend,ucf}</a></em>
	</tal:block>
	<em tal:condition="member/getBan" class="notification">${trans:m.forums.frontoffice.ban-until,ucf} <tal:block change:memberdate="value member/getBan; mode 'short'" /></em>
</tal:block>

<div class="member-idcard">
	<div class="website-block">
		<div class="column-50 margin-right">
			<div class="member-pic">
				<img class="image" src="${php: member->getGravatarUrl(64)}" alt="" />
			</div>
			<div class="member-info">
				<ul>
					<tal:block tal:condition="member/getDisplayName">
						<li>${trans:m.forums.frontoffice.firstname,ucf,lab} <strong>${structure member/getUser/getFirstnameAsHtml}</strong></li>
						<li>${trans:m.forums.frontoffice.lastname,ucf,lab} <strong>${structure member/getUser/getlastnameAsHtml}</strong></li>
					</tal:block>
					<li tal:define="count member/getPublishedTitleCount" tal:condition="count">
						<tal:block tal:condition="php: count == 1">${trans:m.forums.frontoffice.member-title,ucf,lab}</tal:block>
						<tal:block tal:condition="php: count > 1">${trans:m.forums.frontoffice.member-titles,ucf,lab}</tal:block>
						<tal:block tal:repeat="title member/getPublishedTitleArray">
							<tal:block tal:condition="php: !repeat.title.start && repeat.title.end">${trans:m.forums.frontoffice.and}</tal:block>
							<strong>${structure title/getLabelAsHtml}</strong><tal:block tal:condition="php: repeat.title.index LT (repeat.title.length - 2)">, </tal:block>
					</tal:block>
					</li>
					<li>${trans:m.forums.frontoffice.member-since,ucf,lab} <strong change:memberdate="value member/getCreationdate; mode 'short'"></strong></li>
					<li tal:condition="member/getWebsiteUrl">${trans:m.forums.frontoffice.web-site,ucf,lab} <strong><a class="link" tal:attributes="href member/getWebsiteUrl" target="_blank">${member/getShortWebsiteUrl}</a></strong></li>
					<li tal:condition="member/getCountry">${trans:m.forums.frontoffice.country,ucf,lab} <strong>${structure member/getCountry/getLabelAsHtml}</strong></li>
				</ul>
			</div>
		</div>
		<div class="column-50 margin-left">
			<div class="member-counts" tal:condition="php: member.getNbpost() || member.getNbthread()">
				<ul tal:define="nbpost member/getNbpost ; nbthread member/getNbthread">
					<li tal:define="rank member/getRank" tal:condition="rank">${trans:m.forums.frontoffice.member-rank,ucf,lab} <strong>${rank/getLabel}</strong></li>
					<li>${trans:m.forums.frontoffice.post-count,ucf,lab} <strong>${nbpost}</strong></li>
					<li>${trans:m.forums.frontoffice.thread-count,ucf,lab} <strong>${nbthread}</strong></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="cleaner"></div>
</div>

<tal:block tal:condition="member/getSignature">
	<h2 change:h="">${trans:m.forums.document.member.signature,ucf}</h2>
	<div class="normal member-signature">${structure member/getSignatureAsHtml}</div>
</tal:block>

<tal:block change:include="module 'forums'; template 'Forums-Inc-BanList-Success'; type 'html'; member member; removeMemberLink 'true'" />