<tal:block tal:define="thread item/getDocument/getThread; forum thread/getForum">
	<p>
		<strong i18n:translate="&amp;modules.forums.frontoffice.ForumLabel;"></strong>
		<a change:link="document forum">${forum/getLabelAsHtml}</a>
	</p>
	<p>
		<strong i18n:translate="&amp;modules.forums.frontoffice.ThreadLabel;"></strong>
		<a change:link="document thread">${thread/getLabelAsHtml}</a> 
	</p>
</tal:block>
<p>
	<strong i18n:translate="&amp;modules.solrsearch.frontoffice.DescriptionLabel;"></strong>
	${item/getHighlightedText}<span i18n:translate="&amp;modules.solrsearch.frontoffice.End-descriptionEllipsis;"></span>		
</p>