<p class="normal">${structure item/getHighlightedText}<span>${trans:m.solrsearch.frontoffice.end-description,ucf,etc}</span></p>
<dl class="inline-list" tal:define="doc item/getDocument">
	<tal:block tal:condition="showTypes">
		<dt>${trans:m.solrsearch.frontoffice.type,ucf}</dt> 
		<dd>
			<tal:block tal:condition="item/hasTypeLabel">${item/getTypeLabel}</tal:block>
			<tal:block tal:condition="not:item/hasTypeLabel">${trans:m.forums.document.post.document-name,ucf}</tal:block>
			<span> - </span>
		</dd>
	</tal:block>
	<tal:block tal:condition="showDates">
		<dt>${trans:m.solrsearch.frontoffice.creationdate,ucf}</dt>
		<dd><tal:block tal:replace="datetime:doc/getCreationdate,from=gmt" /><span> - </span></dd>
		<tal:block tal:condition="php: item.getDocument().getCreationdate() < item.getDocument().getModificationdate()">
			<dt>${trans:m.solrsearch.frontoffice.modificationdate,ucf}</dt>
			<dd><tal:block tal:replace="datetime:doc/getModificationdate,from=gmt" /><span> - </span></dd>
		</tal:block>
	</tal:block>
	<tal:block tal:define="thread doc/getThread; forum thread/getForum">
		<dt>${trans:m.forums.frontoffice.forum,ucf}</dt>
		<dd><a change:link="document forum">${structure forum/getLabelAsHtml}</a><span> - </span></dd>
		<dt>${trans:m.forums.frontoffice.thread,ucf}</dt>
		<dd><a change:link="document thread">${structure thread/getLabelAsHtml}</a></dd>
	</tal:block>
</dl>