<h1 change:h="">${forum/getLabelAsHtml}</h1>
<div tal:condition="forum/getDescription" class="normal">${forum/getDescriptionAsHtml}</div>
<ul class="inline-list normal-margin" tal:condition="not: forum/isLocked">
	<li><a change:link="tag functional_forums_thread-new ; forumsParam[cmpref] forum/getId">${trans:m.forums.frontoffice.newthread,ucf}</a></li>
</ul>

<tal:block tal:condition="php: count(globalAnnoucements)">
	<tal:block tal:define="global threadColumnTitle">${trans:m.forums.lists.threadlevels.global,ucf}</tal:block>
	<tal:block change:include="module 'forums'; template 'Forums-Inc-ThreadList-Success'; type 'html'; threads globalAnnoucements; threadColumnTitle threadColumnTitle; showPagination 'false'" />
</tal:block>

<tal:block tal:condition="php: count(paginator)">
	<tal:block tal:define="global threadColumnTitle">${trans:m.forums.frontoffice.subject,ucf}</tal:block>
	<tal:block change:include="module 'forums'; template 'Forums-Inc-ThreadList-Success'; type 'html'; threads paginator; threadColumnTitle threadColumnTitle; showPagination 'true'" />
</tal:block>
<p tal:condition="php: !count(paginator)" class="normal">${trans:m.forums.frontoffice.Nothread,ucf}</p>

<tal:block change:block="" module="forums" name="RssMenu" parentref="${forum/getId}" />