<table class="normal forums-table">
	<thead>
		<tr>
			<th class="column-bullet" />
			<th class="column-label">${trans: m.forums.frontoffice.forum,ucf}</th>
			<th class="column-threads">${trans: m.forums.frontoffice.threads,ucf}</th>
			<th class="column-posts">${trans: m.forums.frontoffice.posts,ucf}</th>
			<th class="column-last-post">${trans: m.forums.frontoffice.last-post,ucf}</th>
		</tr>
	</thead>
	<tbody>
		<tal:block tal:repeat="forum forums">
			<tr tal:condition="forum/isVisible" class="${php: repeat.forum.odd ? 'odd' : 'even'}">
				<td class="column-bullet" tal:define="newCount forum/getNbnewpost">
					<img tal:condition="php: newCount == 1" change:img="front/has-new-post.png" title="${trans: m.forums.frontoffice.has-new-post,ucf}" />
					<img tal:condition="php: newCount > 1" change:img="front/has-new-post.png" title="${trans: m.forums.frontoffice.has-n-new-posts,ucf,count=newCount}" />
					<img tal:condition="not: newCount" change:img="front/has-no-new-post.png" title="${trans: m.forums.frontoffice.has-no-new-post,ucf}" />
				</td>
				<td class="column-label" tal:define="subforums forum/getSubForums">
					<a change:link="document forum">${structure forum/getLabelAsHtml}</a>
					<dl class="inline-list" tal:condition="subforums">
						<dt>${trans: m.forums.frontoffice.sub-forums,ucf}</dt>
						<tal:block tal:repeat="subforum subforums">
							<dd tal:condition="subforum/isVisible">
								<tal:block tal:define="newCountSub subforum/getNbnewpost">
									<img tal:condition="php: newCountSub == 1" change:img="front/has-new-post.png" title="${trans: m.forums.frontoffice.has-new-post,ucf}" />
									<img tal:condition="php: newCountSub > 1" change:img="front/has-new-post.png" title="${trans: m.forums.frontoffice.has-n-new-posts,ucf,count=newCountSub}" />
									<img tal:condition="not: newCountSub" change:img="front/has-no-new-post.png" title="${trans: m.forums.frontoffice.has-no-new-post,ucf}" />
								</tal:block>
								<a change:link="document subforum">${structure subforum/getLabelAsHtml}</a>
							</dd>
						</tal:block>
					</dl>
				</td>
				<td class="column-threads">${forum/getNbthreadRecursive}</td>
				<td class="column-posts">${forum/getNbpostRecursive}</td>
				<td class="column-last-post" tal:define="lastPost forum/getLastPostRecursive; lastAuthor lastPost/getAuthoridInstance">
					<tal:block tal:condition="lastPost">
						${datetime:lastPost/getUICreationdate}
						<br />
						${trans: m.forums.frontoffice.by} 
						<a tal:condition="lastAuthor" change:link="document lastAuthor">${lastAuthor/getLabel}</a>
						<tal:block tal:condition="not: lastAuthor">${trans:m.forums.frontoffice.unknown,ucf}</tal:block>
					</tal:block>
				</td>
			</tr>
		</tal:block>
	</tbody>
</table>

<ul class="inline-list normal-margin" tal:condition="not: hideMemberActions">
	<li tal:condition="not: member"><a change:link="tag contextual_website_website_modules_users_register">${trans: m.forums.frontoffice.register,ucf}</a><span class="separator"> | </span></li>
	<li tal:condition="not: member"><a change:link="tag contextual_website_website_modules_users_register">${trans: m.forums.frontoffice.log-in,ucf}</a></li>
	<li tal:condition="member"><a change:link="tag contextual_website_website_modules_users_edit-profil">${trans: m.forums.frontoffice.edit-profile,ucf}</a><span class="separator"> | </span></li>
	<li tal:condition="member"><a change:link="module forums; action MarkAllPostsRead; backUrl currentUrl">${trans: m.forums.frontoffice.mark-all-as-read,ucf}</a></li>
</ul>