<tal:block tal:define="global displayConfig postListInfo/displayConfig" />

<ul class="document-list message-list">
	<tal:block tal:repeat="post postListInfo/paginator">
		<li class="erased" tal:condition="post/wasDeleted" id="post-${post/getId}">
			<em>${trans: m.forums.frontoffice.deletedpost,ucf}</em>
		</li>
		
		<tal:block tal:condition="not: post/wasDeleted">
			<li class="${php: repeat.post.start ? 'start' : ''} ${php: repeat.post.end ? 'last' : ''} ${alternateclass:postIndex}${php: post->getDeleteddate() ? ' tbv' : ''}" id="post-${post/getId}">
				<div class="message-header">
					<p class="float-right" tal:condition="not: displayConfig/hidePostLink">
						<a change:link="document post">${post/getPostId}</a>
						<tal:block tal:condition="post/isAnswer" tal:define="answerOf post/getAnswerof; answerOfAuthor answerOf/getAuthoridInstance">
							${trans: m.forums.frontoffice.answer-to}
							<a change:link="document answerOf">${answerOf/getPostId}</a>
							${trans: m.forums.frontoffice.written-by}
							<tal:block tal:condition="answerOfAuthor"><a change:link="document answerOfAuthor">${answerOf/getAuthorName}</a></tal:block>
							<tal:block tal:condition="not: answerOfAuthor">${answerOf/getAuthorName}</tal:block>
						</tal:block>
					</p>
					<p>
						<img tal:condition="post/isPostOld" title="${trans:m.forums.frontoffice.post,ucf}" change:img="front/has-no-new-post.png" />
						<img tal:condition="post/isPostSemiNew" title="${trans:m.forums.frontoffice.post,ucf}" change:img="front/has-no-new-post.png" />
						<img tal:condition="post/isPostNew" title="${trans:m.forums.frontoffice.new-post,ucf}" change:img="front/has-new-post.png" />
						${datetime:post/getUICreationdate}
					</p>
					<div class="cleaner"></div>					
				</div>
				
				<div class="message-body" tal:define="author post/getAuthoridInstance; authorProfile post/getAuthorProfile">
					<div class="author-information" tal:condition="author">
						<tal:block tal:condition="displayConfig/showGravatars">
							<img change:avatar="user author" size="${displayConfig/avatarsSize}" />
							<br />
						</tal:block>
						<a change:link="document author">${post/getAuthorName}</a>
						<tal:block tal:repeat="title authorProfile/getPublishedForumMemberTitleArray">
							<br />
							<strong>${trans: m.forums.frontoffice.member-title,ucf,lab}</strong> ${structure title/getLabelAsHtml}
							<tal:block tal:define="visual title/getVisual" tal:condition="visual/isPublished">
								<br />
								<img change:media="document visual" />
							</tal:block>
						</tal:block>
						<tal:block tal:define="rank authorProfile/getRank" tal:condition="rank">
							<br />
							<strong>${trans: m.forums.frontoffice.member-rank,ucf,lab}</strong> ${structure rank/getLabelAsHtml}
							<tal:block tal:define="visual rank/getVisual" tal:condition="visual/isPublished">
								<br />
								<img change:media="document visual" />
							</tal:block>
						</tal:block>
					</div>
					<div class="author-information" tal:condition="not: author">
						${trans:m.forums.frontoffice.unknown,ucf}
					</div>
			
					<div class="message-content">
						<div class="normal">${structure post/getTextAsHtml}</div>
						<p tal:condition="post/getEditeddate" class="action-log">
							<em tal:define="editedBy post/getEditedbyInstance">
								${trans: m.forums.frontoffice.editedby,ucf}
								<tal:block tal:condition="editedBy"><a change:link="document editedBy">${post/getLastEdithorName}</a></tal:block>
								<tal:block tal:condition="not: editedBy">${post/getLastEdithorName}</tal:block>
								${datetime:post/getUIEditeddate}
							</em>
						</p>
						<p tal:condition="post/getDeleteddate" class="action-log">
							<em tal:define="deletedBy post/getDeletedbyInstance">
								${trans: m.forums.frontoffice.deletedby,ucf}
								<tal:block tal:condition="deletedBy"><a change:link="document deletedBy">${post/getSuppressorName}</a></tal:block>
								<tal:block tal:condition="not: deletedBy">${post/getSuppressorName}</tal:block>
								${datetime:post/getUIDeleteddate}
							</em>
						</p>
						<tal:block tal:condition="displayConfig/showSignatures">
							<tal:block tal:condition="authorProfile/getSignature">
								<hr class="signature-separator" />
								<div class="member-signature">${structure authorProfile/getSignatureAsHtml}</div>
							</tal:block>
						</tal:block>
					</div>
					<div class="cleaner"></div>
				</div>
		
				<div class="message-footer">
					<ul class="inline-list float-right">
						<li tal:condition="php: displayConfig['showActions'] && displayConfig['currentUser'] && displayConfig['currentProfile'].isSuperModerator() && post.getIp()">
							<a class="link" href="http://www.db.ripe.net/whois?searchtext=${post/getIp}" target="_blank">${post/getIp}</a>
							<span class="separator"> | </span>
						</li>
						<li><a class="link" href="#top">${trans: m.forums.frontoffice.top,ucf}</a></li>
					</ul>
					<ul class="inline-list" tal:condition="php: displayConfig['showActions'] && (!post->getDeleteddate() || post->isBanable())">
						<tal:block tal:condition="not: post/getDeleteddate">
							<tal:block tal:condition="not: post/getThread/isLocked">
								<li>
									<a change:link="tag functional_forums_post-new ; forumsParam[cmpref] post/getThread/getId ; forumsParam[postid] post/getId">${trans: m.forums.frontoffice.answer,ucf}</a>
									<span class="separator"> | </span>
								</li>
								<li>
									<a change:link="tag functional_forums_post-new ; forumsParam[cmpref] post/getThread/getId ; forumsParam[postid] post/getId ; forumsParam[quote] 'true'">${trans:m.forums.frontoffice.quote,ucf}</a>
									<span tal:condition="php:post.isEditable() OR post.isDeletable() OR post.isBanable()" class="separator"> | </span>
								</li>
							</tal:block>
							<li tal:condition="post/isEditable">
								<a change:link="tag functional_forums_post-edit ; forumsParam[cmpref] post/getId">${trans: m.forums.frontoffice.edit,ucf}</a>
								<span tal:condition="php:post.isDeletable() OR post.isBanable()" class="separator"> | </span>
							</li>
							<li tal:condition="post/isDeletable">
								<a change:link="module forums; action DeletePost; id post/getId" class="link postDelete">${trans: m.forums.frontoffice.delete,ucf}</a>
								<span tal:condition="post/isBanable" class="separator"> | </span>
							</li>
						</tal:block>
						<li tal:condition="post/isBanable">
							<a class="link" change:actionlink="cmpref post/getId" block="forums_memberban">${trans: m.forums.frontoffice.ban,ucf}</a>
						</li>
					</ul>
					<div class="cleaner"></div>
				</div>
			</li>
		</tal:block>
	</tal:block>
</ul>

<tal:block tal:condition="displayConfig/showPagination" change:paginator="postListInfo/paginator" />