<ul class="mini-navigation" tal:condition="php: member.isMe() OR member.isEditable() OR enablePrivateMessaging">
	<li>
		<a tal:condition="member/isMe" change:link="tag contextual_website_website_modules_users_edit-profil">${trans:m.forums.frontoffice.edit,ucf}</a>
		<a tal:condition="php: !member.isMe() && member.isEditable()" change:link="tag contextual_website_website_modules_forums_editprofile ; forumsParam[cmpref] member/getId">${trans:m.forums.frontoffice.edit,ucf}</a>
	</li>
	<li tal:condition="enablePrivateMessaging"><a change:link="tag contextual_website_website_modules_privatemessaging_newthread; privatemessagingParam[receivers] member/getLabelAsHtml">${trans:m.privatemessaging.fo.start-new-private-conversation,ucf}</a></li>
</ul>

<h1 change:h="">${trans:m.forums.frontoffice.profile-of,ucf,login=member/getLabelAsHtml}</h1>

<tal:block tal:condition="member/isme">
	<div tal:condition="mailsended"><em class="notification">${trans:m.forums.frontoffice.mail-sent}</em></div>
	<tal:block tal:condition="member/getEndpublicationdate">
		<em class="notification">${trans:m.forums.frontoffice.must-validate-before,ucf} <tal:block change:memberdate="value member/getEndpublicationdate; mode 'short'" /> - <a tal:define="url php: array('changeParam[resend]'=>1)" change:currentPagelink="url">${trans:m.forums.frontoffice.resend,ucf}</a></em>
	</tal:block>
	<em tal:condition="member/getBan" class="notification">${trans:m.forums.frontoffice.ban-until,ucf} <tal:block change:memberdate="value member/getBan; mode 'short'" /></em>
</tal:block>

<div class="member-idcard columns">
	<div class="column-50">
		<div class="member-pic" tal:condition="member">
			<img class="image document-visual" src="${php: member->getGravatarUrl(64)}" alt="" />
		</div>
		<div class="member-info">
			<dl class="inline-items">
				<tal:block tal:condition="member/getDisplayName">
					<dt>${trans:m.forums.frontoffice.firstname,ucf}</dt>
					<dd>${member/getUser/getFirstnameAsHtml}</dd>
					<dt>${trans:m.forums.frontoffice.lastname,ucf}</dt>
					<dd>${member/getUser/getlastnameAsHtml}</dd>
				</tal:block>
				<tal:block tal:define="count member/getPublishedTitleCount" tal:condition="count">
					<dt tal:condition="php: count == 1">${trans:m.forums.frontoffice.member-title,ucf}</dt>
					<dt tal:condition="php: count > 1">${trans:m.forums.frontoffice.member-titles,ucf}</dt>
					<dd>
						<ul class="inline-list">
							<li tal:repeat="title member/getPublishedTitleArray">
								${title/getLabelAsHtml}
								<span tal:condition="php: repeat.title.index LT (repeat.title.length - 2)" class="punctuation">, </span>
								<span tal:condition="php: repeat.title.index EQ (repeat.title.length - 2)" class="punctuation">${trans:m.forums.frontoffice.and}</span>
							</li>
						</ul>
					</dd>
				</tal:block>
				<dt>${trans:m.forums.frontoffice.member-since,ucf}</dt>
				<dd><tal:block change:memberdate="value member/getCreationdate; mode 'short'" /></dd>
				<tal:block tal:condition="member/getWebsiteUrl">
					<dt>${trans:m.forums.frontoffice.web-site,ucf}</dt>
					<dd><a class="link" tal:attributes="href member/getWebsiteUrl" target="_blank">${member/getShortWebsiteUrl}</a></dd>
				</tal:block>
				<tal:block tal:condition="member/getCountry">
					<dt>${trans:m.forums.frontoffice.country,ucf}</dt>
					<dd>${member/getCountry/getLabelAsHtml}</dd>
				</tal:block>
			</dl>
		</div>
	</div>
	<div class="column-50">
		<div class="member-counts" tal:condition="php: member.getNbpost() || member.getNbthread()">
			<dl tal:define="nbpost member/getNbpost ; nbthread member/getNbthread" class="normal inline-items">
				<tal:block tal:define="rank member/getRank" tal:condition="rank">
					<dt>${trans:m.forums.frontoffice.member-rank,ucf}</dt>
					<dd>${rank/getLabelAsHtml}</dd>
				</tal:block>
				<dt>${trans:m.forums.frontoffice.post-count,ucf}</dt>
				<dd>${nbpost}</dd>
				<dt>${trans:m.forums.frontoffice.thread-count,ucf}</dt>
				<dd>${nbthread}</dd>
			</dl>
		</div>
	</div>
</div>

<tal:block tal:condition="member/getSignature">
	<h2 change:h="">${trans:m.forums.document.member.signature,ucf}</h2>
	<div class="normal member-signature">${member/getSignatureAsHtml}</div>
</tal:block>

<tal:block change:include="module 'forums'; template 'Forums-Inc-BanList-Success'; type 'html'; member member; removeMemberLink 'true'" />