<tal:block change:loadhandler="forums_EditpostLoadHandler" />
<h1 change:h="">${trans:m.forums.frontoffice.editpost,ucf}</h1>
<h2 change:h="">
	${trans:m.forums.document.post.thread,ucf,lab}
	<tal:block change:include="module 'forums'; template 'Forums-Inc-ThreadLabel-Success'; type 'html'; thread post/getThread" />
</h2>

<tal:block tal:condition="previewPostInfo">
	<tal:block change:include="module 'forums'; template 'Forums-Inc-PostList-Success'; type 'html'; postListInfo previewPostInfo" />
</tal:block>

<form change:form="beanClass forums_persistentdocument_post; beanName post">
	<fieldset>
		<legend class="h-2">${trans:m.forums.frontoffice.message-input,ucf}</legend>
		<ul change:errors=""></ul>
		<ol tal:define="isFirst post/isFirstPostInThread">
			<tal:block tal:condition="isFirst">
				<li change:permission="perm forums.Moderate; nodeId post/getId; mode front"><input change:field="name thread.level" nopreamble="true" /></li>
			</tal:block>
			<tal:block tal:condition="post/getThread/isEditable" tal:define="flagList post/getThread/getForum/getDefaultFlagList">
			<li tal:condition="flagList"><input change:selectinput="" listId="${flagList/getListid}" name="thread.flag" labeled="true"/></li>
			</tal:block>
			<tal:block tal:condition="isFirst">
				<li><input change:field="name thread.label" /></li>
			</tal:block>
			<li><input change:bbcodeinput="name textAsBBCode; required true" module-profile="forums" labeled="true" /></li>
		</ol>
		<p class="buttons">
			<input change:field="name beanId" hidden="true" />
			<input change:field="name thread.id" hidden="true" />
			<input name="preview" change:submit="labeli18n m.forums.frontoffice.form.preview" />
			<input change:submit="labeli18n m.forums.frontoffice.form.submit"/>
		</p>
	</fieldset>
</form>