<form change:form="beanClass forums_persistentdocument_member; beanName member" class="cmxform">
	<ul change:errors=""></ul>
	<ul change:messages=""></ul>
	<input change:field="name beanId" hidden="true" />	
	<ol>
		<li><input change:field="name label" /></li>
		<li>
			<input change:field="name displayname" />
			<p class="help-text" change:translate="modules.forums.frontoffice.Authdisplayname" />
		</li>
		<li><input change:field="name country" /></li>
		<li><input change:field="name websiteUrl" size="40" /></li>
		<li>
			<input change:field="name shortDateFormat" size="40" />
			<p class="help-text">
				<tal:block change:translate="modules.forums.document.member.Shortdateformat-help" />
				<br />
				<tal:block change:translate="modules.forums.frontoffice.Default-valueLabel" /> <strong change:translate="modules.forums.frontoffice.short-date-format"></strong>
			</p>
		</li>
		<li>
			<input change:field="name longDateFormat" size="40" />
			<p class="help-text">
				<tal:block change:translate="modules.forums.document.member.Longdateformat-help" />
				<br />
				<tal:block change:translate="modules.forums.frontoffice.Default-valueLabel" /> <strong change:translate="modules.forums.frontoffice.long-date-format"></strong>
			</p>
		</li>
		<li><label change:fieldlabel="name signature"></label> <input change:richtextinput="name signature ; editor bbcode" /></li>
	</ol>
	<p class="buttons">
		<input change:submit="label &modules.users.frontoffice.editprofil.SubmitButton;" class="button" name="save" />
	</p>
</form>