<table tal:condition="php: count(threads)" class="normal forums-table" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<th class="column-bullet"></th>
			<th class="column-label">${threadColumnTitle}</th>
			<th class="column-posts">${trans: m.forums.frontoffice.answers,ucf}</th>
			<th class="column-last-post">${trans: m.forums.frontoffice.last-post,ucf}</th>
		</tr>
	</thead>
	<tbody>
		<tal:block tal:repeat="thread threads">
			<tr tal:define="newCount thread/getNbnewpost ; postCount thread/getNbpost" class="row-${php: repeat.thread.odd ? '1' : '0'}">
				<td class="column-bullet" >
					<tal:block tal:condition="thread/isLocked">
						<img tal:condition="php: newCount >= 1 && newCount == postCount" change:img="front/new-thread-locked.png" title="${trans: m.forums.frontoffice.is-new-thread-locked,ucf}" />
						<img tal:condition="php: newCount == 1 && newCount != postCount" change:img="front/has-new-post-locked.png" title="${trans: m.forums.frontoffice.has-new-post-locked,ucf}" />
						<img tal:condition="php: newCount > 1 && newCount != postCount" change:img="front/has-new-post-locked.png" title="${trans: m.forums.frontoffice.has-n-new-posts-locked,ucf,count=newCount}" />
						<img tal:condition="not: newCount" change:img="front/has-no-new-post-locked.png" title="${trans: m.forums.frontoffice.has-no-new-post-locked,ucf}" />
					</tal:block>
					<tal:block tal:condition="not: thread/isLocked">
						<img tal:condition="php: newCount >= 1 && newCount == postCount" change:img="front/new-thread.png" title="${trans: m.forums.frontoffice.is-new-thread,ucf}" />
						<img tal:condition="php: newCount == 1 && newCount != postCount" change:img="front/has-new-post.png" title="${trans: m.forums.frontoffice.has-new-post,ucf}" />
						<img tal:condition="php: newCount > 1 && newCount != postCount" change:img="front/has-new-post.png" title="${trans: m.forums.frontoffice.has-n-new-posts,ucf,count=newCount}" />
						<img tal:condition="not: newCount" change:img="front/has-no-new-post.png" title="${trans: m.forums.frontoffice.has-no-new-post,ucf}" />
					</tal:block>
				</td>
				<td class="column-label">
					<strong tal:condition="php: thread.getLevel() == 20">${trans: m.forums.lists.threadlevels.sticky,ucf,lab}</strong>
					<strong tal:condition="php: thread.getLevel() == 30">${trans: m.forums.lists.threadlevels.announcement,ucf,lab}</strong>
					<a tal:attributes="href thread/getUserUrl" class="link">${thread/getLabelAsHtml}</a>
					<dl class="inline-list" tal:condition="thread/hasPages">
						<dt>${trans:m.forums.frontoffice.go-to-page,ucf}</dt>
						<dd tal:repeat="page thread/getPagination">${page}</dd>
					</dl>
				</td>
				<td class="column-posts">${php: postCount-1}</td>
				<td class="column-last-post" tal:define="lastPost thread/getLastPost; lastPostAuthor lastPost/getPostAuthor">
					<tal:block change:memberdate="value lastPost/getCreationdate; mode 'long'" />
					<br />
					${trans: m.forums.frontoffice.by}
					<a tal:condition="lastPostAuthor" change:link="document lastPostAuthor">${lastPostAuthor/getLabelAsHtml}</a>
					<tal:block tal:condition="not: lastPostAuthor">${trans:m.forums.frontoffice.unknown,ucf}</tal:block>
				</td>
			</tr>
		</tal:block>
	</tbody>
</table>
<tal:block tal:condition="showPagination" change:paginator="threads" />