<tal:block tal:define="thread item/getDocument/getThread; forum thread/getForum">
	<p>
		<strong>${trans: m.forums.frontoffice.forum,ucf,lab}</strong>
		<a change:link="document forum">${forum/getLabelAsHtml}</a>
	</p>
	<p>
		<strong>${trans: m.forums.frontoffice.thread,ucf,lab}</strong>
		<a change:link="document thread">${thread/getLabelAsHtml}</a> 
	</p>
</tal:block>
<p>
	<strong>${trans: m.solrsearch.frontoffice.description,ucf,lab}</strong>
	${item/getHighlightedText}<span>${trans: m.solrsearch.frontoffice.end-description,ucf,etc}</span>		
</p>