<h2 change:h="" tal:condition="not:forumgroup">${trans: m.forums.frontoffice.forums,ucf}</h2>
<tal:block tal:condition="forumgroup">
	<h2 change:h="">${forumgroup/getLabelAsHtml}</h2>
	<div tal:condition="forumgroup/getDescription">${forumgroup/getDescriptionAsHtml}</div>
</tal:block>

<tal:block change:include="module 'forums'; template 'Forums-Inc-ForumList-Success'; type 'html'; forums forums; member member; hideMemberActions hideMemberActions" />

<tal:block tal:condition="forumgroup" change:block="" module="forums" name="RssMenu" parentref="${forumgroup/getId}" />
<tal:block tal:condition="not:forumgroup" change:block="" module="forums" name="RssMenu" parentref="${parent/getId}" />