<tal:block tal:condition="member/hasToShowBansToCurrentUser">
	<tal:block tal:condition="member/getBans">
		<h2 change:h=""><tal:block change:translate="modules.forums.frontoffice.Ban-history-for" /> <a tal:condition="not: removeMemberLink" change:link="document member">${member/getLabelAsHtml}</a><tal:block tal:condition="removeMemberLink" tal:content="member/getLabelAsHtml" /></h2>
		<table class="normal">
			<thead>
				<tr>
					<th change:translate="modules.forums.frontoffice.From" />
					<th change:translate="modules.forums.frontoffice.To" />
					<th change:translate="modules.forums.frontoffice.Banned-by" />
					<th change:translate="modules.forums.frontoffice.Reason" />
				</tr>
			</thead>
			<tbody>
				<tr tal:repeat="ban member/getBans" class="row-${php: repeat.ban.odd ? '1' : '0'}">
					<td change:memberdate="value ban/getFrom; mode 'long'" />
					<td change:memberdate="value ban/getTo; mode 'short'" />
					<td><a change:link="document ban/getBy">${ban/getBy/getLabelAsHtml}</a></td>
					<td><tal:block tal:content="ban/display" /> <tal:block tal:condition="ban/getPost">(<tal:block change:translate="modules.forums.frontoffice.banned-reason-message" /> <a change:link="document ban/getPost">${ban/getPost/getPostId}</a>)</tal:block></td>
				</tr>
			</tbody>
		</table>
	</tal:block>
</tal:block>